<div class="auth-page">

  <div class="auth-container">

    <!-- INSCRIPTION -->
    <div class="auth-card" [class.active]="mode() === 'inscription'">
      <h2>INSCRIPTION</h2>

      @if (msg && mode() === 'inscription') {
        <div class="msg">{{ msg }}</div>
      }

      <div class="form-row">
        <div class="form-group">
          <label>Prénom</label>
          <input type="text" [(ngModel)]="registerObj.prenom" />
        </div>
        <div class="form-group">
          <label>Nom</label>
          <input type="text" [(ngModel)]="registerObj.nom" />
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="registerObj.email" />
      </div>

      <div class="form-group">
        <label>Ville</label>
        <input type="text" [(ngModel)]="registerObj.ville" />
      </div>

      <div class="form-group">
        <label>Choisissez votre mot de passe</label>
        <input type="password" [(ngModel)]="registerObj.password" />
      </div>

      <div class="form-group">
        <label>Confirmer votre mot de passe</label>
        <input type="password" [(ngModel)]="registerObj.confirmPassword" />
      </div>

      <button class="btn-submit" (click)="onRegister()">Inscription</button>
    </div>

    <!-- CONNEXION -->
    <div class="auth-card" [class.active]="mode() === 'connexion'">
      <h2>CONNEXION</h2>

      @if (msg && mode() === 'connexion') {
        <div class="msg">{{ msg }}</div>
      }

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="loginObj.login" />
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" [(ngModel)]="loginObj.password" />
      </div>

      <button class="btn-submit" (click)="onLogin()">Connexion</button>
    </div>

  </div>

</div>
