:host {
  display: block;
  background-color: #101728;
  min-height: 100vh;
  padding: 40px 80px;
}

/* FILTER */
.btn-filter{
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.btn-filter h1{
  font-size: 4rem;
  margin: 0 auto 50px auto;
  text-align: center;
}

.btn-filter div{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* CARD */
.card {
  background: linear-gradient(135deg, #5f2c82, #49a09d);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* BADGE */
.badge {
  width: 200px;
  height: 35px;
  margin: 5px;
  background: limegreen;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.badge span {
  width: 100%;
  color: #0f1819;
  font-size: 1.15rem;
  font-weight: bold;
}

/* TARIF */
.tarif {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bold;
  margin: 5px;
  color: #ccc;
}

/* TEXTE */
.card h3 {
  font-size: 2.25rem;
  margin: 15px auto;
  text-align: center;
}

.card p {
  color: #ddd;
  font-size: 1.25rem;
  text-align: justify;
  margin: 50px;
  height: 150px;
  font-style: italic;
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}

button {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.bottom-card button {
  background: rgb(255, 255, 255, 0.75);
}

button:hover {
  background: rgb(255, 255, 255, 0.5) !important;
}

/* LOADER */
.loader {
  text-align: center;
  margin-top: 30px;
}
