<section class="annonces">

  <div class="btn-filter">
    <h1>Choix catégorie</h1>
    <div>
      <button>Test catégorie</button>
      <button>Test catégorie</button>
      <button>Test catégorie</button>
      <button>Test catégorie</button>
      <button>Test catégorie</button>
    </div>
  </div>

  <div class="grid">
    @for (annonce of annonces; track annonce.id) {
    <div class="card">
      <div class="badge" [style.background-color]="annonce.couleurCategorie"><span>{{ annonce.categorie }}</span></div>

      <div class="tarif">
        {{ annonce.tarif ? annonce.tarif + ' €' : 'Gratuit' }}
      </div>

      <h3>{{ annonce.titre }}</h3>

      <p>{{ annonce.description }}</p>

      <div class="bottom-card">
        <span>{{ annonce.auteur }}</span>
        <button>Répondre</button>
      </div>
    </div>
  }
  </div>

  @if (annonces.length === 0) {
    <div class="loader">Chargement...</div>
  }

</section>
